:root {
	--themeColor:#4FC08D;
	--bgColor: #4FC08D;
	--textColor: #4FC08D;
	--headerHeight: .86rem;
	/* --el-color-primary:#4FC08D; */
}
.breadcrumb-bottom {
	margin-bottom: 15px;
}

/* el-tabs标签页 */
.demo-tabs .custom-tabs-label .el-icon {
	vertical-align: middle;
}

.demo-tabs .custom-tabs-label span {
	vertical-align: middle;
	margin-left: 4px;
}

.el-tabs__item:hover {
	color: var(--textColor);
}

.el-tabs__item.is-active {
	color: var(--textColor);
}
